<div class="grid grid-cols-3 gap-3 m-4">
  <app-product
		title="Producto 1"
		[price]="12"
		img="https://picsum.photos/640/640?r=21"
		(addToCart)="fromChild($event)"
	/>
  <app-product
		title="Producto 2"
		[price]="13"
		img="https://picsum.photos/640/640?r=321"
		(addToCart)="fromChild($event)"
	/>
	<app-product
		title="Producto 3"
		[price]="14"
		img="https://picsum.photos/640/640?r=14"
		(addToCart)="fromChild($event)"
	/>
	<app-product
		title="Producto 4"
		[price]="15"
		img="https://picsum.photos/640/640?r=15"
		(addToCart)="fromChild($event)"
	/>
	<app-product
		title="Producto 5"
		[price]="16"
		img="https://picsum.photos/640/640?r=16"
		(addToCart)="fromChild($event)"
	/>
	<app-product
		title="Producto 6"
		[price]="17"
		img="https://picsum.photos/640/640?r=17"
		(addToCart)="fromChild($event)"
	/>
</div>
